
.search-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.user-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-card {
    background-color: #1d1d1d !important;
    border-radius: 5px;
}

.user-details h5 {
    margin-bottom: 0.5rem;
}